@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --becode-dark: #000000;
  --becode-yellow: #ffb400;
  --becode-yellow-bright: #ffc233;
  --becode-gray: #a1a1aa;
  --becode-card: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-becode-yellow: #ffb400;
  --color-becode-dark: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
